body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-poppins: Poppins;
  --font-inter: Inter;

  /* font sizes */
  --font-size-smi: 13px;
  --font-size-lgi: 19px;
  --font-size-base: 16px;
  --font-size-29xl: 48px;
  --font-size-19xl: 38px;
  --font-size-10xl: 29px;
  --font-size-7xl: 26px;
  --font-size-2xl: 21px;
  --font-size-lg: 18px;
  --font-size-mini: 15px;
  --font-size-3xs: 10px;
  --font-size-11xl: 30px;
  --font-size-5xl: 24px;
  --font-size-45xl: 64px;
  --font-size-32xl: 51px;
  --font-size-13xl: 32px;
  --font-size-17xl: 36px;
  --font-size-3xl: 22px;
  --font-size-xl: 20px;
  --font-size-71xl: 90px;
  --font-size-mid-3: 17.3px;
  --font-size-xl-8: 20.8px;
  --font-size-mid: 17px;
  --font-size-3xl-5: 22.5px;
  --font-size-lgi-9: 19.9px;
  --font-size-base-6: 16.6px;

  /* Colors */
  --color-gray: #141414;
  --color-gainsboro-100: #dfdfdf;
  --color-gainsboro-200: #dddfdd;
  --color-gainsboro-300: #dbdbdb;
  --color-whitesmoke-100: #f6f6f6;
  --color-whitesmoke-200: #f4f4f4;
  --color-whitesmoke-300: #eee;
  --white: #fff;
  --color-royalblue: #0055c3;
  --color-springgreen: #00ff85;
  --morado-claro: #edeeff;
  --negro-claro: #5f6073;
  --color-dimgray-100: rgba(77, 77, 77, 0.5);
  --color-limegreen: #00cc52;
  --color-darkgray-100: #b1b1b1;
  --color-darkgray-200: #a1a1a1;
  --color-mediumslateblue: #9563ff;

  /* Gaps */
  --gap-xl: 20px;
  --gap-sm: 14px;
  --gap-12xs-3: 0.3px;
  --gap-10xl: 29px;
  --gap-10xs: 3px;
  --gap-mid: 17px;
  --gap-4xl: 23px;
  --gap-9xl: 28px;
  --gap-base: 16px;
  --gap-8xl: 27px;
  --gap-6xs: 7px;
  --gap-3xs-5: 9.5px;
  --gap-11xl: 30px;
  --gap-41xl: 60px;
  --gap-13xl: 32px;
  --gap-mini: 15px;
  --gap-3xl: 22px;
  --gap-8xs: 5px;
  --gap-lg: 18px;
  --gap-5xl: 24px;
  --gap-4xs-7: 8.7px;
  --gap-12xs-8: 0.8px;
  --gap-lgi: 19px;
  --gap-2xl-3: 21.3px;

  /* Paddings */
  --padding-37xl: 56px;
  --padding-xl: 20px;
  --padding-sm: 14px;
  --padding-24xl: 43px;
  --padding-base: 16px;
  --padding-27xl: 46px;
  --padding-19xl: 38px;
  --padding-30xl: 49px;
  --padding-8xs: 5px;
  --padding-33xl: 52px;
  --padding-15xl: 34px;
  --padding-47xl: 66px;
  --padding-68xl: 87px;
  --padding-22xl: 41px;
  --padding-54xl: 73px;
  --padding-23xl: 42px;
  --padding-2xs-5: 10.5px;
  --padding-10xl: 29px;
  --padding-3xs-5: 9.5px;
  --padding-4xl-5: 23.5px;
  --padding-mid: 17px;
  --padding-34xl: 53px;
  --padding-35xl: 54px;
  --padding-10xs-5: 2.5px;
  --padding-55xl: 74px;
  --padding-7xs: 6px;
  --padding-50xl: 69px;
  --padding-13xl: 32px;
  --padding-58xl: 77px;
  --padding-59xl: 78px;
  --padding-9xs: 4px;
  --padding-20xl: 39px;
  --padding-16xl: 35px;
  --padding-119xl: 138px;
  --padding-71xl: 90px;
  --padding-39xl: 58px;
  --padding-36xl: 55px;
  --padding-17xl: 36px;
  --padding-31xl: 50px;
  --padding-38xl: 57px;
  --padding-12xs: 1px;
  --padding-5xl: 24px;
  --padding-4xl: 23px;
  --padding-8xl: 27px;
  --padding-xs: 12px;
  --padding-lgi: 19px;
  --padding-smi: 13px;
  --padding-lg: 18px;
  --padding-4xs-7: 8.7px;
  --padding-4xs-6: 8.6px;
  --padding-2xs: 11px;
  --padding-99xl: 118px;
  --padding-57xl: 76px;
  --padding-lg-2: 18.2px;
  --padding-mid-3: 17.3px;
  --padding-4xs: 9px;
  --padding-10xs: 3px;
  --padding-5xs: 8px;
  --padding-sm-5: 13.5px;
  --padding-xs-2: 11.2px;

  /* Border radiuses */
  --br-3xs: 10px;
  --br-41xl: 60px;
  --br-xl: 20px;
  --br-mini: 15px;
  --br-4xs-7: 8.7px;
  --br-mini-4: 14.4px;
  --br-16xl-6: 35.6px;
}
